<div class="main">
  <div class="createLink">
    <a routerLink="/create"><span class="material-symbols-outlined"> add </span></a>
  </div>
  <h2>bienvenido {{ user$ | async }}</h2>

  <h1>Lista de Tareas</h1>
  <div class="filters">
    <div class="filter">
      <button
        [ngClass]="{ activo: (filtro$ | async) === 'todas' }"
        (click)="cambiarFiltro(EstadoTarea.todas)"
      >
        ver todas
      </button>
      <button
        [ngClass]="{ activo: (filtro$ | async) === 'completada' }"
        (click)="cambiarFiltro(EstadoTarea.completada)"
      >
        completadas
      </button>
      <button
        [ngClass]="{ activo: (filtro$ | async) === 'pendiente' }"
        (click)="cambiarFiltro(EstadoTarea.pendiente)"
      >
        pendientes
      </button>
      <button
        [ngClass]="{ activo: (filtro$ | async) === 'en progreso' }"
        (click)="cambiarFiltro(EstadoTarea.enProgreso)"
      >
        en progreso
      </button>
    </div>
    <div>
      <button
        [ngClass]="{ activo: (filtro$ | async) === 'eliminada' }"
        (click)="cambiarFiltro(EstadoTarea.eliminada)"
        class="delete"
      >
        <mat-icon aria-hidden="false" aria-label="delete" fontIcon="delete"></mat-icon>
      </button>
    </div>
  </div>

  <div class="tareas-container">
    <app-tareas />
  </div>
</div>
